<%= content_for(:page_title) do %>
  Search results
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Teaching school hubs near <%= @search.location %></h1>
  </div>
</div>

<div class="govuk-grid-column-two-thirds">
  <p class="govuk-body-l">
    <b><%= pluralize(@search.hubs.count, 'result') %> found</b>
  </p>
  <% if @search.hubs.count.zero? %>
    <p class="govuk-body">
      Check that the location you have entered is in England and:
      <ul class="govuk-list govuk-list--bullet">
        <li>a valid first part of a postcode</li>
        <li>or, a town or city</li>
      </ul>
    </p>
  <% end %>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>
      <%= link_to 'Change location', { action: :form } %>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds hub-results">
    <% @search.hubs.each do |hub| %>
      <div class="hub-result">
        <h2 class="govuk-heading-m">
          <% if hub.website %>
            <%
              address = hub.website
              address = "//#{address}" unless address.starts_with? /https?:\/\//
            %>
            <%= link_to hub.name, address %>
          <% else %>
            <%= hub.name %>
          <% end %>
        </h2>
        <p>Email: <%= mail_to hub.email %></p>
        <% if hub.phone.present? %>
          <p>Phone: <%= phone_to hub.phone %></p>
        <% end %>
        <p>Area: <%= hub.areas.join(', ') %></p>
      </div>
    <% end %>
  </div>
</div>
